@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}


// Media query manager
/*
0 - 600px:          Phone
600px - 900px:      Tablet portrait
900px - 1200px:     Tablet landscape
[1200px - 1800px]   normal style is applied
1800px +:           Big Desktop Sreens

Possible breakpoints:
- phone
- tab_port
- tab_land
- big_desktop

obs.: 1em in default browser definition of font size is 16px
*/
@mixin responsive($breakpoint) {
    @if $breakpoint == phone {
        @media screen and (max-width: $conf-media-phone) { @content; } //600px
    }
    @if $breakpoint == tab_port {
        @media screen and (max-width: $conf-media-tab-port) { @content; }  //900px
    }
    @if $breakpoint == tab_land {
        @media screen and (max-width: $conf-media-tab-land) { @content; }  //1200px
    }
    @if $breakpoint == big_desktop {
        @media screen and (min-width: $conf-media-big-desk) { @content; }  //1800px
    }
}