// Media Queries Sizes

$conf-media-phone: 37.5em;
$conf-media-tab-port: 56.25em;
$conf-media-tab-land: 75em;
$conf-media-big-desk: 112.5em;

// Screen pixel density:

$conf-screen-density-2x: 192dpi;

// Colors
//// Primary
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark:    #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;
 
$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;


//// Greys
$color-grey-dark-1 : #777;
$color-grey-dark-2 : #999;
$color-grey-dark-3 : #333;
$color-grey-light-1 : #f7f7f7;
$color-grey-light-2 : #eee;

//// Whites
$color-white: #FFF;

//// Blacks
$color-black: #000;
$color-black-opacity-light: rgba($color-black, .2);
$color-black-opacity-medium: rgba($color-black, .35);
$color-black-opacity-dark: rgba($color-black, .5);

// Grid
$grid-width: 114rem;
$grid-width-small: 50rem;
$grid-width-very-small: 40rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

// Fonts

//// Sizes
$default-font-size: 1.6rem;