*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: inherit;
}

html {
    // definition of 1 rem in default browser font-size definition (16px)
    font-size: 62.5%; //10px

    @include responsive(tab_land) {
        font-size: 56.25%; //9px
    }

    // this media also set to phone width
    @include responsive(tab_port) {
        font-size: 50%; //8px
    }

    @include responsive(big_desktop) {
        font-size: 75%;  //12px
    }
}

body {
    box-sizing: border-box;
    padding: 1.5rem;

    @include responsive(tab_port) {
        padding: 0;
    }
}

::selection {
  background-color: $color-primary;
  color: $color-white;
}